<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TwitterKey" value="DwSw7pBWrpLqCeSxWhMmAwezP" />
    <add key="TwitterSecret" value="or6CkRutVNAPD9WWBcZCC2ZSjaCxg4YqdOkIrXbmPtmpUU5262"/>
    <add key="TwitterEncodedKeySecret" value="RHdTdzdwQldycExxQ2VTeFdoTW1Bd2V6UDpvcjZDa1J1dFZOQVBEOVdXQmNaQ0MyWlNqYUN4ZzRZcWRPa0lyWGJtUHRtcFVVNTI2Mg=="/>
    <add key="TwitterBearer" value="AAAAAAAAAAAAAAAAAAAAAI4%2BiwAAAAAAL56s0OpY%2FGZPEoyJ3quK4%2BoyV2g%3DmIa2CZi24WOdsHk99WxPlZlC4JunqBre3FmK6QJUCtIIjdmLmu" />
  </appSettings>
</configuration>